* {
    margin: 0;
    padding: 0;
    font-family: consolas;
}

body {
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #1c234a;
}

ul {
    position: relative;
    li {
        list-style: none;
        margin: 0 20px;
        font-size: 4em;
        span {
            position: relative;
            top: -2px;
            left: -10px;
            color: transparent;
        }
        &:hover span {
            color: #ef0448;
        }
        a {
            position: relative;
            color: rgba(255, 255, 255, 0.1);
            text-decoration: none;
            font-weight: 700;
            &:before {
                content: attr(data-text);
                position: absolute;
                top: 0;
                overflow-y: hidden;
                color: #1bfaad;
                white-space: nowrap;
                overflow: hidden;
            }
        }
    }
    &:hover li a:before {
        animation: animate 0.5s steps(11) forwards;
        @keyframes animate {
            from {
                width: 387.06px;
            }
            to {
                width: 0px;
            }
        }
    }
    & li:hover a:before {
        animation: animateTwo 1s steps(11) forwards;
        @keyframes animateTwo {
            from {
                width: 0px;
            }
            to {
                width: 387.06px;
            }
        }
    }
}