.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: red;
    border: 5px solid #000;
}

.circle:first-child {
    /* animation: circle1 1s infinite alternate; */
}


/*Determina los puntos clave cuando cambia el estado*/

@keyframes circle1 {
    /*es al final de la animación, no hay puntos intermedios*/
    to {
        width: 300px;
        height: 300px;
    }
}

.circle:last-child {
    background: green;
    animation: circle2 1s infinite alternate linear;
    will-change: transform;
}

@keyframes circle2 {
    to {
        transform: scale(1.5);
    }
}