* {
  margin: 0;
  padding: 0;
}

.box {
  background: #ccc;
  max-width: 720px;
  margin: 64px auto;
  padding: 16px;
}

.box h2 {
  text-align: center;
}

.menu {
  background: #212121;
  color: #fff;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  text-align: center;
  top: 0;
  left: 0;
  -webkit-clip-path: circle(55px at 50% 0);
          clip-path: circle(55px at 50% 0);
  -webkit-transition: -webkit-clip-path 0.5s;
  transition: -webkit-clip-path 0.5s;
  transition: clip-path 0.5s;
  transition: clip-path 0.5s, -webkit-clip-path 0.5s;
  will-change: clip-path;
}

.menu.active {
  -webkit-clip-path: circle(100% at 50% 50%);
          clip-path: circle(100% at 50% 50%);
}

.menu.active li {
  -webkit-animation: desplazamiento 0.5s ease;
          animation: desplazamiento 0.5s ease;
}

@-webkit-keyframes desplazamiento {
  from {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes desplazamiento {
  from {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.btn-toggle-menu {
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
}

.btn-toggle-menu:hover {
  -webkit-animation: rotar 1.5s alternate;
          animation: rotar 1.5s alternate;
}

@-webkit-keyframes rotar {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  20% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  40% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  60% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  80% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes rotar {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  20% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  40% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  60% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  80% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.nav {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav ul:hover li a {
  opacity: 0;
}

.nav ul li {
  list-style: none;
  margin-bottom: 10px;
}

.nav ul li:last-child {
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
}

.nav ul li:before {
  content: attr(data-text);
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  color: #fff;
  font-size: 192px;
  font-weight: 700;
  pointer-events: none;
  opacity: 0;
  letter-spacing: 20px;
  -webkit-transition: 1s;
  transition: 1s;
  white-space: nowrap;
}

.nav ul li:hover:before {
  opacity: 0.05;
  letter-spacing: 0px;
}

.nav ul li a {
  position: relative;
  display: inline-block;
  background: #2196f3;
  text-decoration: none;
  font-size: 40px;
  letter-spacing: 2px;
  padding: 15px 30px;
  color: #f8f8f8;
  text-transform: uppercase;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 1;
  opacity: 1;
  overflow: hidden;
}

.nav ul li a:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  z-index: 1000;
  background: #ff3f81;
  opacity: 1;
}

.nav ul li a:before {
  content: '';
  position: absolute;
  top: 0;
  left: -100px;
  width: 80px;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(rgba(255, 255, 255, 0.8)), to(transparent));
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.8), transparent);
  -webkit-transform: skewX(35deg);
          transform: skewX(35deg);
  -webkit-transition: 0;
  transition: 0;
}

.nav ul li a:hover:before {
  left: calc(100% + 100px);
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}
/*# sourceMappingURL=styles.css.map */